@media screen and (max-width: 900px){
    .my-aside {
        display: none;
    }

    .my-main {
        left: 0px;
    }

    .my-user-head {
        display: none;
    }

    .my-user-menu-left {
        display: none;
    }
}

